@{
    ViewBag.Title = "Vendas por Balconistas | Portal APCD";
}
@section styles{
    @Styles.Render("~/coreui/ladda/css")
    @Styles.Render("~/coreui/datatables/css")
    <link href="~/coreuilib/spinkit/css/spinkit.css" rel="stylesheet" />
    <style>
        .col-md-7, .col-md-5, .col-md-4 {
            padding-left: 5px;
            padding-right: 5px;
        }
        .col-form-label {
            font-size: 17px;
        }
    </style>
}
@section breadcrumb{
    <!-- Breadcrumb-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Home")">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Vendas Anual por Balconista</li>
        <!-- Breadcrumb Menu-->
        <li class="breadcrumb-menu d-md-down-none">
            <div class="btn-group" role="group" aria-label="Button group">
                <a class="btn" href="javascript:void(0)">
                    Olá @User.Identity.Name !
                </a>
            </div>
        </li>
    </ol>
}

<div class="animated fadeIn">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-4">
                    <h4 class="card-title mb-0">Venda anual por Balconista</h4>
                </div>
                <!--/.col-->
                <div class="col-sm-8 d-md-block">
                    <button type="button" class="btn btn-primary float-right d-md-block ladda-button" id="vendas-anual-btn" onclick="carregarGraficoVendaAnual(this)">
                        <i class="icon-magnifier"></i> Buscar
                    </button>
                    <div class="form-group row col-md-5" style="display: inline-block">
                        <h1 class="col-md-4 col-form-label" for="select1" style="display: inline-block">Ano</h1>
                        <div class="col-md-7" style="display: inline-block">
                            @Html.DropDownList("ano", (IEnumerable<SelectListItem>)ViewBag.Years, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row col-md-5" style="display: inline-block">
                        <h1 class="col-md-4 col-form-label" for="select1" style="display: inline-block">Loja</h1>
                        <div class="col-md-7" style="display: inline-block">
                            @Html.DropDownList("loja", (IEnumerable<SelectListItem>)ViewBag.Stores, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row col-md-5" style="display: inline-block">
                        <h1 class="col-md-4 col-form-label" for="select1" style="display: inline-block">Balconista</h1>
                        <div class="col-md-7" style="display: inline-block">
                            <select class="form-control" id="balconista"></select>
                        </div>
                    </div>
                </div>
                <!--/.col-->
            </div>
            <!--/.row-->
            <div class="chart-wrapper" style="margin-top:40px;">
                <span id="loading-balconistaAnual"></span>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/coreui/ladda/js")
    <script src="~/Scripts/viewsjs/index.js"></script>
    <script src="~/Scripts/chartsjs/balconistasanual.v1.0.2.js"></script>
    <script src="~/coreuilib/chart.js/js/Chart.min.js"></script>
    <script src="~/Scripts/viewsjs/changeclient.js"></script>
    <script>
        $(document).ready(function () {
            loadClientes();
            CarregarDadosBalconistas();
            setTimeout(function () {
                StackedBarBalconistaAnual('balconistaAnual', 'chartBalconistaAnual');
            }, 3000);
        });

        $('#loja').on('change', function () {
            $('#balconista').empty();
            CarregarDadosBalconistas();
        });
    </script>
}