@using PagedList.Mvc;
@model PagedList.PagedList<Model.Entity.ProdutoSincronizado>

@{
    ViewBag.Title = "Detalhes da Execução #" + ViewBag.Execucao.ExecucaoId;
}
@section styles{
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/compiled/elements.css" rel="stylesheet" />
}

<script type="text/javascript">
        setInterval(function () {
            window.location.reload()
        }, 10000);
</script>

<div class="row" style="opacity: 1; transform: translateY(0px);">
    <div class="col-lg-12">
        <h1>
            Sincronizações <small>Detalhes da Execução #@ViewBag.Execucao.ExecucaoId</small>
            <div class="filter-block pull-right">
                <a href="#" onclick="window.history.back()" class="btn btn-primary pull-right">
                    <i class="fa fa-plus-circle fa-lg"></i> Voltar
                </a>
            </div>
        </h1>
        <div class="row">
            <div class="col-lg-12">
                <div class="main-box clearfix">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center"><span>Identificador</span></th>
                                    <th class="text-center"><span>Status</span></th>
                                    <th class="text-center"><span>Detalhes</span></th>
                                    <th class="text-center"><span>Inicio da Execução</span></th>
                                    <th class="text-center"><span>Fim da Execução</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">
                                        <a href="@Url.Action("Detalhes", "Execucoes", new { id=ViewBag.Execucao.ExecucaoId })">#@ViewBag.Execucao.ExecucaoId</a>
                                    </td>
                                    <td class="text-center">
                                        @if (ViewBag.Execucao.Status == "Iniciada")
                                        {
                                            <span class="label label-large label-primary">@ViewBag.Execucao.Status</span>
                                        }
                                        else
                                        {
                                            <span class="label label-large label-@(ViewBag.Execucao.Status == "Finalizada"  ? "success" : "danger")">@ViewBag.Execucao.Status</span>
                                        }
                                    </td>
                                    <td class="text-center">
                                        @ViewBag.Execucao.Detalhes
                                    </td>
                                    <td class="text-center">
                                        @ViewBag.Execucao.Inicio
                                    </td>
                                    <td class="text-center">
                                        @ViewBag.Execucao.Fim
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <h1 style="display: inline-block">
            Produtos <small>Sincronizados</small>
        </h1>
        <div class="filter-block pull-right">
            @using (Html.BeginForm("Detalhes", "Execucoes", FormMethod.Get))
            {
                <div class="form-group pull-left">
                    @Html.Hidden("pagina", 1)
                    <input type="text" class="form-control" name="busca" value="@ViewBag.Busca" placeholder="Buscar Nome, EAN ou Status">
                    <i class="fa fa-search search-icon"></i>
                </div>
                <button class="btn btn-primary pull-right">
                    Buscar
                </button>
            }
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="main-box clearfix">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center"><span>Identificador</span></th>
                                    <th class="text-center"><span>Nome</span></th>
                                    <th class="text-center"><span>Ean</span></th>
                                    <th class="text-center"><span>Status</span></th>
                                    <th class="text-center"><span>Preço Por</span></th>
                                    <th class="text-center"><span>Quantidade</span></th>
                                    <th class="text-center"><span>Operação</span></th>
                                    <th class="text-center"><span>Data Sincronização</span></th>
                                    <th class="text-center"><span>Ações</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var produto in Model)
                                {
                                    <tr>
                                        <td class="text-center">
                                            <a href="@Url.Action("Detalhes", "ProdutosSincronizados", new { id=produto.ProdutoSincronizadoId })">#@produto.ProdutoSincronizadoId</a>
                                        </td>
                                        <td class="text-center">
                                            @produto.Nome
                                        </td>
                                        <td class="text-center">
                                            @produto.Ean
                                        </td>
                                        <td class="text-center">
                                            <span class="label label-large label-@(produto.Status == "Sincronizado com sucesso"  ? "success" : "danger")">@produto.Status</span>
                                        </td>
                                        <td class="text-center">
                                            R$ @produto.PrecoPor
                                        </td>
                                        <td class="text-center">
                                            @produto.Quantidade
                                        </td>
                                        <td class="text-center">
                                            <span class="label label-large label-@(produto.Operacao == "Adicionar"  ? "default" : "primary")">@produto.Operacao</span>
                                        </td>
                                        <td class="text-center">
                                            @produto.DataSincronizacao
                                        </td>
                                        <td class="text-center">
                                            <a href="@Url.Action("Detalhes", "ProdutosSincronizados", new { id=produto.ProdutoSincronizadoId })" class="btn btn-success">Detalhes</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
                    <div style="float: right">
                        @Html.PagedListPager(Model, pagina => Url.Action("Detalhes", new { pagina, id = ViewBag.Execucao.ExecucaoId, busca = ViewBag.Busca }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Voltar", "Index")
</p>


