@model PlatinDashboard.Application.ViewModels.UserViewModels.ProfileUserViewModel

<div class="card-body" id="form-content">
    @using (Ajax.BeginForm("Editar", new { @controller = "Perfil" },
        new AjaxOptions
        {
            OnSuccess = "editUserCallBack",
            OnFailure = "editUserFailed()"
        },
                          new { @id = "edit-form" }))
    {

    <div class="row">
        <div class="form-group  col-sm-6">
            <label for="exampleInputEmail1">Nome</label>
            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", placeholder = "Nome do Maçon" }, Style = "background:#primary;" })
            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "error invalid-feedback" })
        </div>

        <div class="form-group col-sm-6">
            <label for="exampleInputEmail1">Apelido</label>
            @Html.EditorFor(model => model.Nome_Tratamento, new { htmlAttributes = new { @class = "form-control", placeholder = "Apelido" } })
            @Html.ValidationMessageFor(model => model.Nome_Tratamento, "", new { @class = "error invalid-feedback" })
        </div>
    </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="exampleInputEmail1">Nº CIM</label>
                @Html.EditorFor(model => model.Cim, new { htmlAttributes = new { @class = "form-control", placeholder = "Numero do CIM" } })
                @Html.ValidationMessageFor(model => model.Cim, "", new { @class = "error invalid-feedback" })
            </div>
            <div class="form-group col-sm-3">
                <label for="exampleInputEmail1">Grau</label>
                @Html.DropDownListFor(model => model.Id_Graduacao, ViewBag.ListaGraduacao as SelectList, "Selecione um Grau", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Cim, "", new { @class = "error invalid-feedback" })
            </div>
            <div class="form-group col-sm-3">
                <label for="exampleInputEmail1">Loja</label>
                @Html.DropDownListFor(model => model.Id_Loja, ViewBag.ListaLojas as SelectList, "Selecione uma Loja", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Cim, "", new { @class = "error invalid-feedback" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3">
                <label for="exampleInputEmail1">Situação</label>
                @Html.DropDownListFor(model => model.Situacao, ViewBag.Situacao as SelectList, "Situação do Maçon", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Situacao, "", new { @class = "error invalid-feedback" })
            </div>
            <div class="form-group col-sm-3">
                <label for="exampleInputEmail1">Email</label>
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "error invalid-feedback" })
            </div>
            <div class="form-group col-sm-3">
                <label for="exampleInputEmail1">Segundo Email</label>
                @Html.EditorFor(model => model.Email_Outros, new { htmlAttributes = new { @class = "form-control", placeholder = "Email Adicional" } })
                @Html.ValidationMessageFor(model => model.Email_Outros, "", new { @class = "error invalid-feedback" })
            </div>
            <div class="form-group col-sm-3">
                <label for="exampleInputEmail1">Indicado Por</label>
                @Html.EditorFor(model => model.correspondencia_end, new { htmlAttributes = new { @class = "form-control", placeholder = "Nome de quem indicou" } })
                @Html.ValidationMessageFor(model => model.correspondencia_end, "", new { @class = "error invalid-feedback" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3">
                <label for="exampleInputEmail1">RG</label>
                @Html.EditorFor(model => model.Num_Di, new { htmlAttributes = new { @class = "form-control", placeholder = "Número do RG" } })
                @Html.ValidationMessageFor(model => model.Num_Di, "", new { @class = "error invalid-feedback" })
            </div>
            <div class="form-group col-sm-3">
                <label for="exampleInputEmail1">Orgão Emissor</label>
                @Html.EditorFor(model => model.Emissor_Di, new { htmlAttributes = new { @class = "form-control", placeholder = "Emissor do RG" } })
                @Html.ValidationMessageFor(model => model.Emissor_Di, "", new { @class = "error invalid-feedback" })
            </div>
            <div class="form-group col-sm-3">
                <label for="exampleInputEmail1">UF RG</label>
                @Html.EditorFor(model => model.Uf_Di, new { htmlAttributes = new { @class = "form-control", placeholder = "Origem do RG" } })
                @Html.ValidationMessageFor(model => model.Uf_Di, "", new { @class = "error invalid-feedback" })
            </div>
            <div class="form-group col-sm-3">
                <label for="exampleInputEmail1">Emissão RG</label>
                @Html.EditorFor(model => model.Dt_Emissao_Di, new { htmlAttributes = new { @class = "form-control", placeholder = "Data de Emissão" } })
                @Html.ValidationMessageFor(model => model.Dt_Emissao_Di, "", new { @class = "error invalid-feedback" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3">
                <label for="exampleInputEmail1">CPF</label>
                @Html.EditorFor(model => model.CPF, new { htmlAttributes = new { @class = "form-control", placeholder = "Numero do CP" } })
                @Html.ValidationMessageFor(model => model.CPF, "", new { @class = "error invalid-feedback" })
            </div>
            <div class="form-group col-sm-3">
                <label for="exampleInputEmail1">Data de Nascimento</label>
                @Html.EditorFor(model => model.Dt_Nascimento, new { htmlAttributes = new { @class = "form-control", placeholder = "Data de aniversário" } })
                @Html.ValidationMessageFor(model => model.Dt_Nascimento, "", new { @class = "error invalid-feedback" })
            </div>
            <div class="form-group col-sm-3">
                <label for="exampleInputEmail1">Naturalidade</label>
                @Html.EditorFor(model => model.Naturalidade, new { htmlAttributes = new { @class = "form-control", placeholder = "Natural de que cidade" } })
                @Html.ValidationMessageFor(model => model.Naturalidade, "", new { @class = "error invalid-feedback" })
            </div>
            <div class="form-group col-sm-3">
                <label for="exampleInputEmail1">Estado</label>
                @Html.EditorFor(model => model.Uf, new { htmlAttributes = new { @class = "form-control", placeholder = "Estado que nasceu" } })
                @Html.ValidationMessageFor(model => model.Uf, "", new { @class = "error invalid-feedback" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3">
                <label for="exampleInputEmail1">País</label>
                @Html.EditorFor(model => model.Nacionalidade, new { htmlAttributes = new { @class = "form-control", placeholder = "País de origem" } })
                @Html.ValidationMessageFor(model => model.Nacionalidade, "", new { @class = "error invalid-feedback" })
            </div>
            <div class="form-group col-sm-3">
                <label for="exampleInputEmail1">Religião</label>
                @Html.EditorFor(model => model.Religiao, new { htmlAttributes = new { @class = "form-control", placeholder = "Religião que professa" } })
                @Html.ValidationMessageFor(model => model.Religiao, "", new { @class = "error invalid-feedback" })
            </div>
            <div class="form-group col-sm-3">
                <label for="exampleInputEmail1">Tipo Sanguineo</label>
                @Html.EditorFor(model => model.Tipo_Sanguíneo, new { htmlAttributes = new { @class = "form-control", placeholder = "Tipo de sangue" } })
                @Html.ValidationMessageFor(model => model.Tipo_Sanguíneo, "", new { @class = "error invalid-feedback" })
            </div>
            <div class="form-group col-sm-3">
                <label for="exampleInputEmail1">Sexo</label>
                @Html.EditorFor(model => model.Sexo, new { htmlAttributes = new { @class = "form-control", placeholder = "sexualidade" } })
                @Html.ValidationMessageFor(model => model.Sexo, "", new { @class = "error invalid-feedback" })
            </div>

        </div>
        <div class="row">
            <div class="form-group col-sm-3">
                <label for="exampleInputEmail1">Escolaridade</label>
                @Html.EditorFor(model => model.Escolaridade, new { htmlAttributes = new { @class = "form-control", placeholder = "Escolaridade" } })
                @Html.ValidationMessageFor(model => model.Escolaridade, "", new { @class = "error invalid-feedback" })
            </div>
            <div class="form-group col-sm-3">
                <label for="exampleInputEmail1">Estado Civil</label>
                @Html.EditorFor(model => model.Estado_Civil, new { htmlAttributes = new { @class = "form-control", placeholder = "Estado civil" } })
                @Html.ValidationMessageFor(model => model.Estado_Civil, "", new { @class = "error invalid-feedback" })
            </div>
            <div class="form-group col-sm-3">
                <label for="exampleInputEmail1">Data Casamento</label>
                @Html.EditorFor(model => model.Data_Casamento, new { htmlAttributes = new { @class = "form-control", placeholder = "Data do Casamento" } })
                @Html.ValidationMessageFor(model => model.Data_Casamento, "", new { @class = "error invalid-feedback" })
            </div>
            <div class="form-group col-sm-3">
                <label for="exampleInputEmail1">Titulo de Eleitor</label>
                @Html.EditorFor(model => model.Tit_Eleitor, new { htmlAttributes = new { @class = "form-control", placeholder = "Numero do Titulo de eleitor" } })
                @Html.ValidationMessageFor(model => model.Tit_Eleitor, "", new { @class = "error invalid-feedback" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3">
                <label for="exampleInputEmail1">Seção</label>
                @Html.EditorFor(model => model.Secao_Eleitoral, new { htmlAttributes = new { @class = "form-control", placeholder = "Seção Eleitoral" } })
                @Html.ValidationMessageFor(model => model.Secao_Eleitoral, "", new { @class = "error invalid-feedback" })
            </div>
            <div class="form-group col-sm-3">
                <label for="exampleInputEmail1">Zona</label>
                @Html.EditorFor(model => model.Zona_Eleitoral, new { htmlAttributes = new { @class = "form-control", placeholder = "Zona Eleitoral" } })
                @Html.ValidationMessageFor(model => model.Zona_Eleitoral, "", new { @class = "error invalid-feedback" })
            </div>
            <div class="form-group col-sm-3">
                <label for="exampleInputEmail1">Celular</label>
                @Html.EditorFor(model => model.celular, new { htmlAttributes = new { @class = "form-control", placeholder = "Numero do Celular" } })
                @Html.ValidationMessageFor(model => model.celular, "", new { @class = "error invalid-feedback" })
            </div>
            <div class="form-group col-sm-3">
                <label for="exampleInputEmail1">Telefone Fixo</label>
                @Html.EditorFor(model => model.tel_res, new { htmlAttributes = new { @class = "form-control", placeholder = "Numero de telefone fixo" } })
                @Html.ValidationMessageFor(model => model.tel_res, "", new { @class = "error invalid-feedback" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="exampleInputEmail1">Nome do Pai</label>
                @Html.EditorFor(model => model.Nome_Pai, new { htmlAttributes = new { @class = "form-control", placeholder = "nome do pai" } })
                @Html.ValidationMessageFor(model => model.Nome_Pai, "", new { @class = "error invalid-feedback" })
            </div>
            <div class="form-group  col-sm-6">
                <label for="exampleInputEmail1">Nome da Mãe</label>
                @Html.EditorFor(model => model.Nome_Mae, new { htmlAttributes = new { @class = "form-control", placeholder = "Nome da Mãe" } })
                @Html.ValidationMessageFor(model => model.Nome_Mae, "", new { @class = "error invalid-feedback" })
            </div>

        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <span class="badge badge-dark">ENDEREÇO</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-6">
                <label for="exampleInputEmail1">Endereço</label>
                @Html.EditorFor(model => model.End_Res, new { htmlAttributes = new { @class = "form-control", placeholder = "Endereço residencial" } })
                @Html.ValidationMessageFor(model => model.End_Res, "", new { @class = "error invalid-feedback" })
            </div>
            <div class="form-group col-sm-3">
                <label for="exampleInputEmail1">Bairro</label>
                @Html.EditorFor(model => model.Bairro_Res, new { htmlAttributes = new { @class = "form-control", placeholder = "Bairro" } })
                @Html.ValidationMessageFor(model => model.Bairro_Res, "", new { @class = "error invalid-feedback" })
            </div>
            <div class="form-group col-sm-3">
                <label for="exampleInputEmail1">CEP</label>
                @Html.EditorFor(model => model.Cep_Res, new { htmlAttributes = new { @class = "form-control", placeholder = "CEP" } })
                @Html.ValidationMessageFor(model => model.Cep_Res, "", new { @class = "error invalid-feedback" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="exampleInputEmail1">Estado</label>
                @Html.EditorFor(model => model.Cidade_Res, new { htmlAttributes = new { @class = "form-control", placeholder = "Estado" } })
                @Html.ValidationMessageFor(model => model.Cidade_Res, "", new { @class = "error invalid-feedback" })
            </div>
            <div class="form-group col-sm-6">
                <label for="exampleInputEmail1">Municipio</label>
                @Html.EditorFor(model => model.Uf_Res, new { htmlAttributes = new { @class = "form-control", placeholder = "Banco de Dados" } })
                @Html.ValidationMessageFor(model => model.Uf_Res, "", new { @class = "error invalid-feedback" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">

                <label for="exampleInputEmail1">Observações Gerais</label>
                @Html.TextAreaFor(model => model.obs, new { @class = "form-control", placeholder = "Observação" })
                @Html.ValidationMessageFor(model => model.obs, "", new { @class = "error invalid-feedback" })
            </div>
        </div>

        <button type="submit" class="btn btn-primary ladda-button" data-style="zoom-out" id="edit-btn" onclick="submitForm(this, 'edit-form')">
            <span class="ladda-label">Alterar</span>
        </button>
    }

</div>