@using PlatinDashboard.Application.ViewModels.UserViewModels
@model UserViewModel
@{
    ViewBag.Title = $"Usuário {Model.Name} {Model.LastName} | Portal APCD";
}
@section styles{
    @Styles.Render("~/coreui/ladda/css")
    @Styles.Render("~/coreui/select2/css")
    <style>
        .select2-selection {
            border: 1px solid #e4e7ea !important;
        }
    </style>
}
@section breadcrumb{
    <!-- Breadcrumb-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Home")">Painel</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Empresas")">Regionais</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Detalhes", "Empresas", new { id = @ViewBag.CompanyViewModel.CompanyId })">@ViewBag.CompanyViewModel.Name</a>
        </li>
        <li class="breadcrumb-item active">@Model.Name @Model.LastName</li>
        <!-- Breadcrumb Menu-->
        <li class="breadcrumb-menu d-md-down-none">
            <div class="btn-group" role="group" aria-label="Button group">
                <a class="btn" href="javascript:void(0)">
                    Olá @User.Identity.Name !
                </a>
            </div>
        </li>
    </ol>
}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4 style="display: inline-block">Dados da Regional @Model.Name @Model.LastName</h4>
                <a href="@Url.Action("Detalhes", "Empresas", new { id = @ViewBag.CompanyViewModel.CompanyId })" class="btn btn-primary pull-right">Voltar</a>
            </div>
            @Html.Partial("_Editar", new EditUserViewModel(Model))
        </div>
    </div>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4 style="display: inline-block">Alterar Senha</h4>
            </div>
            @Html.Partial("_TrocarSenha", new ChangePasswordViewModel { UserId = Model.UserId })
        </div>
    </div>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4 style="display: inline-block">Configuração de acesso do usuário @Model.Name @Model.LastName</h4>
            </div>
            @Html.Partial("_EditarAcessoGraficos", (UserChartViewModel)ViewBag.UserCharts)
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/unobstrusive")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/coreui/ladda/js")
    @Scripts.Render("~/coreui/select2/script")
    <script src="~/Scripts/viewsjs/user.js"></script>
    <script src="~/Scripts/viewsjs/details.js"></script>
    <script src="~/Scripts/viewsjs/userdetails.js"></script>
    <script>
        bindDocumentReady();
        bindUserTypeChange();
    </script>
}