@model Model.Entity.PresencaModel
@{
    ViewBag.Title = "Empresas | Portal APCD";
}
@section styles{
    @Styles.Render("~/coreui/ladda/css")
    @Styles.Render("~/coreui/datatables/css")
}
@section breadcrumb{
    <!-- Breadcrumb-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Home")">Painel Geral</a>
        </li>
        <li class="breadcrumb-item active">Lojas</li>
        <!-- Breadcrumb Menu-->
        <li class="breadcrumb-menu d-md-down-none">
            <div class="btn-group" role="group" aria-label="Button group">
                <a class="btn" href="javascript:void(0)">
                    Olá @User.Identity.Name !
                </a>
            </div>
        </li>
    </ol>
}
<div class="card">

    <div class="card-header">
        <h4 style="display: inline-block">Lista de Presenças</h4>
        <a href="@Url.Action("Index", "Presencas")" class="btn btn-primary pull-right">
            <i class="fa icon-plus"></i> Voltar
        </a>
    </div>
    <div class="card-body">

        <table class="table table-striped table-bordered table-responsive-sm datatable dataTable no-footer" id="companiesTable">
            <thead>
                <tr>
                    <th>Macon</th>
                    <th>Data</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.ListaPresenca.Count; i++)
                {
                    <tr>
                        <td>@Model.ListaPresenca[i].Nome</td>
                        <td>@Model.ListaPresenca[i].Data.ToString("dd/MM/yyy")</td>
                        <td class="text-right">
                            <a class="btn btn-danger" href="@Url.Action("ModalRemover", "ListaPresenca", new { id = @Model.ListaPresenca[i].Id })">
                                <i class="fa fa-trash-o "></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<input id="MesAtual" hidden="hidden" name="MesAtual" value="@DateTime.Now.Month + 1" />
<input id="AnoAtual" hidden="hidden" name="AnoAtual" value="@DateTime.Now.Year" />
@section modals{
    <div id="modal-section">

    </div>
}
@section scripts{
    @Scripts.Render("~/bundles/unobstrusive")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/coreui/ladda/js")
    @Scripts.Render("~/coreui/datatables/js")
    <script src="~/Scripts/viewsjs/index.js"></script>
    <script src="~/Scripts/viewsjs/companyindex.js"></script>
    <script src="~/Scripts/viewsjs/changeclient.js"></script>
    <script>
        $(document).ready(function () {
            loadClientes();
            initializeCompanyTable();
        });
    </script>

}


