@model IEnumerable<PlatinDashboard.Application.ViewModels.UserViewModels.UserViewModel>
@{
    ViewBag.Title = "Usuários | Portal APCD";
}
@section styles{
    @Styles.Render("~/coreui/ladda/css")
    @Styles.Render("~/coreui/datatables/css")
}
@section breadcrumb{
    <!-- Breadcrumb-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Home")">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Usuários</li>
        <!-- Breadcrumb Menu-->
        <li class="breadcrumb-menu d-md-down-none">
            <div class="btn-group" role="group" aria-label="Button group">
                <a class="btn" href="javascript:void(0)">
                    Olá @User.Identity.Name !
                </a>
            </div>
        </li>
    </ol>
}
<div class="card">
    <div class="card-header">
        <h4 style="display: inline-block">Usuários Cadastrados</h4>
        <a href="@Url.Action("Novo", "Usuarios")" class="btn btn-primary pull-right">
            <i class="fa icon-plus"></i> Criar
        </a>
    </div>
    <div class="card-body">
        <table class="table table-responsive-sm table-hover table-outline mb-0" id="usersTable">
            <thead class="thead-light">
                <tr>
                    <th class="text-center">
                        <i class="icon-people"></i>
                    </th>
                    <th>Usuário</th>
                    <th class="text-center">E-mail</th>
                    <th>Login</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Acesso</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                <tr id="user-row-@user.UserId">
                    <td class="text-center">
                        <div class="avatar">
                            <div class="user-initial">
                                <span>@user.Name[0].ToString().ToUpper()</span>
                            </div>
                            @if (user.Active)
                            {
                                <span class="avatar-status badge-success"></span>
                            }
                            else
                            {
                                <span class="avatar-status badge-danger"></span>
                            }
                        </div>
                    </td>
                    <td>
                        <div>@user.Name @user.LastName</div>
                        <div class="small text-muted">
                            Cadastro em: @user.CreatedAt.ToString("dd/MM/yyyy")
                        </div>
                    </td>
                    <td class="text-center">
                        @user.Email
                    </td>
                    <td>
                        @user.UserName
                    </td>
                    <td class="text-center">
                        @if (user.Active)
                        {
                            <span class="badge badge-success">Ativo</span>
                        }
                        else
                        {
                            <span class="badge badge-danger">Desativado</span>
                        }
                    </td>
                    <td class="text-center">
                        @if (user.UserType == "Subadmin")
                        {
                            <span class="badge badge-success">@user.UserType</span>
                        }
                        else if (user.UserType == "Manager")
                        {
                            <span class="badge badge-dark">@user.UserType</span>
                        }
                        else
                        {
                            <span class="badge badge-danger">@user.UserType</span>
                        }
                    </td>
                    <td class="text-right">
                        <a class="btn btn-success" href="@Url.Action("Detalhes", "Usuarios", new { id = user.UserId })">
                            <i class="fa fa-search-plus "></i>
                        </a>
                        <a class="btn btn-danger ladda-button" data-style="zoom-out" href="javascript:void(0)" onclick="showDeleteModal(this, '@user.UserId')">
                            <i class="fa fa-trash-o "></i>
                        </a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section modals{
    <div id="modal-section"></div>
}
@section scripts{
    @Scripts.Render("~/bundles/unobstrusive")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/coreui/ladda/js")
    @Scripts.Render("~/coreui/datatables/js")
    <script src="~/Scripts/viewsjs/index.js"></script>
    <script src="~/Scripts/viewsjs/userindex.js"></script>
    <script>
        $(document).ready(function () {
            initializeUserTable();
        });
    </script>
}