@model IEnumerable<PlatinDashboard.Application.ViewModels.MidiaViewModels.VideoViewModel>
@{
    ViewBag.Title = "Vídeos Cavleiros | Portal APCD";
}
@section styles{

}
@section breadcrumb{
    <!-- Breadcrumb-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Home")">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Usuários</li>
        <!-- Breadcrumb Menu-->
        <li class="breadcrumb-menu d-md-down-none">
            <div class="btn-group" role="group" aria-label="Button group">
                <a class="btn" href="javascript:void(0)">
                    Olá @User.Identity.Name !
                </a>
            </div>
        </li>
    </ol>
}
<div class="card">
    <div class="card-header">
        <h4 style="display: inline-block">Vídeos Platin</h4>
    </div>
</div>
<div class="row">
    @foreach (var video in Model)
    {
        <div class="col-sm-6 col-md-4" style="display: inline-block">
            <div class="card">
                <div class="card-header">
                    @video.Title
                    <label class="switch switch-sm switch-text switch-info float-right mb-0">
                        <input type="checkbox" class="switch-input">
                        <span class="switch-label" data-on="On" data-off="Off"></span>
                        <span class="switch-handle"></span>
                    </label>
                </div>
                <div class="card-body">
                    <video controls="" class="col-md-12" style="padding: 0">
                        <source src="@video.FileName" type="video/mp4">
                    </video>
                    <br />
                    <p class="mb-3">
                        @video.Description
                    </p>
                </div>
            </div>
        </div>
    }
    @if (!Model.Any())
    {
        <div class="col-md-12" style="display: inline-block">
            <div class="card">
                <div class="card-body">
                    <div class="alert alert-success" role="alert">
                        Não há nenhum vídeo cadastrado!
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section modals{
    <div id="modal-section"></div>
}
@section scripts{
    <script src="~/Scripts/viewsjs/changeclient.js"></script>
    @Scripts.Render("~/bundles/unobstrusive")
    @Scripts.Render("~/bundles/jqueryval")
    
}